{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>cadastre-se</title>
</head>

<body class="text-center my-5">
    <form action="base2.html" class="form">
        <h1>
            login
        </h1>
        <label for="nome completo:">nome completo:
        <input type="text" placeholder="nome" autofocus>
        </label>

        <label for="seu email:">seu email:
        <input type="email" placeholder="email" autofocus>
        </label>

        <label for="sua senha:">senha:
        <input type="password" placeholder="seu senha" autofocus>
        </label>

        <label for="confirme sua senha:">confirme sua senha:
        <input type="password" placeholder="confirme sua senha" autofocus>
        </label>
    </form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>